{{ partial "head.html" . }}

  {{ partial "nav.html" . }}

  <div class="flex flex-col items-center pb-16">
    <img
      class="w-32 lg:w-48"
      src="{{ .Site.BaseURL }}images/swing6.svg"
      alt="The coolest logo you've never not seen"
    />

    <h1 class="text-2xl pb-4">{{ .Site.Title }}</h1>
    <h2 class="text-xl text-gray-600 font-thin">{{ .Site.Params.description }}</h2>
  </div>

  {{ partial "posts.html" . }}

  {{ partial "footer.html" . }}
  {{ partial "js.html" . }}
</body>
</html>
