/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

/* -------------------------------------------------------------------------- */
/* Globals                                                                    */
/* -------------------------------------------------------------------------- */

a {
  color: #428bca;
}

a:hover {
  text-decoration: underline;
}

a, a:visited, a:focus, a:active {
  text-decoration: none;
}

code {
  @apply rounded bg-gray-200 px-1 text-sm;
}

pre > code {
  @apply p-4;
}


/* -------------------------------------------------------------------------- */
/* Components                                                                 */
/* -------------------------------------------------------------------------- */


.post p {
  @apply my-2;
}

.post h1 {
  @apply text-4xl mb-4 mt-6;
}

.post h2 {
  @apply text-xl mb-4 mt-6;
}

.post h3 {
  @apply text-lg mb-4 mt-6;
}

.post h4 {
  @apply text-base mb-4 mt-6;
}

.post ul {
  @apply list-disc pl-4;
}

.post li {
  @apply mb-2;
}

@tailwind utilities;
