---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

const blogPosts = await getCollection("blog");
blogPosts.sort((a, b) => (a.data.date < b.data.date ? 1 : -1));
---

<Layout title="Blog" small={true}>
  <h1 class="text-4xl md:text-6xl mb-6">Blog</h1>
  <ul>
    {
      blogPosts.map((post) => (
        <li>
          {post.data.date.toISOString().slice(0, 10)}:
          <a href={`/website/blog/${post.slug}`}>{post.data.title}</a>{" "}
        </li>
      ))
    }
  </ul>
</Layout>
