{{ partial "head.html" . }}

  {{ partial "nav.html" . }}

  <article class="post">
    <header>
      <div class="post-title-bar">
        <h1>{{ .Title }}</h1>

        <div class="post-date">{{ .Date.Format "2006-01-02" }}</div>
      </div>

      <div class="post-tags">
        {{ with .Params.tags }}
          {{ if ge (len .) 1 }}
            {{ range . }}
              <a class="post-tags-item" href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}">{{ . }}</a>
            {{ end }}
          {{ end }}
        {{ end }}
      </div>
    </header>


    <section class="post-content">
        {{ .Content }}
    </section>

  </article>

  {{ partial "footer.html" . }}
  {{ partial "js.html" . }}
</body>
</html>
