@tailwind base;
@tailwind components;

/* -------------------------------------------------------------------------- */
/* Globals                                                                    */
/* -------------------------------------------------------------------------- */


a {
  color: #428bca;
}

a:hover {
  text-decoration: underline;
}

a, a:visited, a:focus, a:active {
  text-decoration: none;
}

code {
  @apply rounded bg-gray-200 px-1 text-sm;
}

pre > code {
  @apply p-4;
}

@tailwind utilities;
