---
import { Image } from "astro:assets";
import home from "../images/home_handwritten.svg";

interface Props {
  title: string;
  small?: boolean;
}

const { title, small } = Astro.props;
const containerClass = `${small ? "px-4 md:px-16 lg:px-32 xl:px-64 2xl:px-96" : "px-4"} container mx-auto`;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Website for Ranger: a tech company that builds software for humans."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/website/favicon.svg?v=2" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class={`${containerClass} pb-2`}>
    <div id="sentinal" class="h-6"></div>
    <div
      id="nav-stripe"
      class="print:hidden bg-slate-900 top-0 right-full left-0 w-full fixed opacity-0"
    >
    </div>
    <nav
      id="navbar"
      class="print:hidden flex mb-8 px-2 pr-5 py-2 bg-slate-900 rounded-lg border border-slate-900"
    >
      <div class="flex-auto flex items-center">
        <a href="/website">
          <Image width="65" alt="home" loading="eager" src={home} />
        </a>
      </div>
      <div class="flex flex-auto items-center justify-end space-x-4">
        <a class="text-slate-100" href="/website/values">values</a>
        <a class="text-slate-100" href="/website/blog">blog</a>
        <a class="text-slate-100" href="/website/resume">resume</a>
      </div>
    </nav>
    <slot />
  </body>
</html>
<style is:global>
  /* -------------------------------------------------------------------------- */
  /* Globals                                                                    */
  /* -------------------------------------------------------------------------- */

  a {
    @apply text-blue-500;
  }

  a:hover {
    text-decoration: underline;
  }

  a,
  a:visited,
  a:focus,
  a:active {
    text-decoration: none;
  }

  code {
    @apply rounded bg-gray-200 px-1 text-sm;
  }

  pre > code {
    @apply p-4;
  }
</style>
